<div id="particles-js" class="backgroundcanvas">
	<%= javascript_include_tag 'particles', 'app'%>
		
		<div class="row centeritem">
			<div class="col-md-12 center center-content">
				<%= image_tag "logo-big.png", style:"max-width:500px" %>
				<div class="row logobutton">
				<div class="col-md-4">
					<div>
				<%= link_to projects_path do %>
	            <div class="btn btn-lg btn-default">Get Started</div>
	            <% end %>
					</div>	
				</div>
			
			</div>
		</div>
</div>


