<body id="bg-main">
<div class="container-fluid">
	<div class="row" style="margin-top:100px">
		<div class="col-md-12 center center-content">
			<%= image_tag "logo-big.png", style:"max-width:500px" %>
		</div>
	</div>
	
	<div class="container-fluid center-content" style="margin-top:100px">
	<div class="row">
		<div class="col-md-4">
			<div>
			<%= link_to clients_path do %>
            <div class="btn btn-success">Clients</div>
            <% end %>
			</div>
		</div>
		<div class="col-md-4">
			<div>
			<%= link_to projects_path do %>
            <div class="btn btn-warning">Projects</div>
            <% end %>
			</div>	
		</div>
		<div class="col-md-4">
		<div>
			<%= link_to translators_path do %>
            <div class="btn btn-success">Translators</div>
            <% end %>
			</div>
		</div>
	</div>
</div>


</body>
