<div class="container">

	<span><h1>Create new Project</h1>
	<%= link_to projects_path do %>
		<h4>Back to Project index</h4>
	<% end %>
	</span>

<%= render 'form' %>


<%= link_to projects_path do %>
	<h4>Back to Project index</h4>
<% end %>
<br>

</div>