/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require_self
 */

.icon-center {
	text-align: center;
	vertical-align: middle;	
}

.success {
	background-color:green;
}

.fail {
	background-color:darkred;
	color:white;
}

#bg-main {
	background: url("words.jpg"); 
	no-repeat center center fixed;
	background-size: cover;
	min-width: 50%;
	min-height 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto 
  }

.slider-img {
	max-width: 70%;
	max-height: 400px;
}

.center-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.margin-logo {
	margin-bottom:20px
}

.margin-left {
	margin-left: 10px;
}

.cards-container {
  display: flex;
  flex-flow: row wrap;
  padding:20px;
}

.card {
  border-left: 8px solid #3572B0;
  border-radius: 4px;
  background-color: #F5F5F5;
  padding: 20px;
  margin: 10px;
  width: 60%;
  min-width: 200px;
  flex: 0 0 auto;
  box-shadow: 0 1px 0px rgba(0,0,0,0.2);
  transition: transform 300ms;
  position:relative;
}

.card-transparent {
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  width: 60%;
  min-width: 200px;
  flex: 0 0 auto;
  position:relative;
}


.card:hover {
/*  border-left: 16px solid #1f5081;*/
  transform: scale(1.01)
}

.card:last-child {
  max-width: 60%;
}

 .big-checkbox {
 	zoom:1.9;
 	margin-left:10px;
 }

 .showall-title {
  margin-left:20px;
  font-weight: lighter;
 }

 .bold {
  font-style: bold;
 }

 .tablefont {
  font-size: 15px;
 }

 div.container {
        width: 90%;
    }